<div class="b-example-divider"></div>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="img/mlp_bann5.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="img/mlp_bann3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img/mlp_bann2.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<br><br><br><br>  <div class="b-example-divider"></div>
<div class="container px-4 py-5" id="custom-cards" >
  <h2 class="pb-3 border-bottom" style="color: aliceblue;">Categoria de personajes</h2>

  <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5" >
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden  rounded-4 shadow-lg" style="background-image: url('img/personajes/fluttershy.png'); background-color: rgb(255, 255, 255);">
        <div class="d-flex flex-column h-90 p-5 pb-10 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Pegasus</h3>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden  rounded-4 shadow-lg" style="background-image: url('img/personajes/rarity.png'); background-color: rgb(255, 255, 255);">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Unicornio</h3>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden  rounded-4 shadow-lg" style="background-image: url('img/personajes/pinkie.png'); background-color: rgb(255, 255, 255);">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Terrestres</h3>
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden  rounded-4 shadow-lg" style="background-image: url('img/personajes/twilight.png'); background-color: rgb(255, 255, 255);">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Alicornio</h3>
          
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="b-example-divider"></div>
  