<br><br><br>
<div class="container">
    <h4 style="color: aliceblue;">Personajes</h4><br>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card">
          <img src="img/personajes/pearbutter.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pear Butter</h5>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="img/personajes/twilight2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Twilight Sparkle</h5>
            
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card">
            <img src="img/personajes/d.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pear Burret</h5>
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/personajes/fluttershy.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/personajes/pinkie.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/personajes/rarity.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              
            </div>
          </div>
        </div>
      </div>
      <br><br><br>
</div>
